<%#= render "shared/header" %>
<div class='main'>



  <div class="main-box">
    <h1>This is my Portfolio Site</h1>
    <p>これは私のポートフォリオサイトです</p>
  </div>

 





</div>
<%#= render "shared/footer" %>