.header {
  background-color:  #e4faff;
  margin-bottom: 1%;
  padding: 1% 0 1.5% 0;
}
.inner {
  margin: 0 auto;
  height: 86.61px;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_bar{
  display: flex;
  justify-content: flex-start;
  padding-left: 20%;
}
.logo {
  width: 200px;
}
.right_bar{
  display: flex;
  justify-content: flex-end;
  padding-right: 20%;
}
.nav__btn{
  display: inline-block;
  padding: 1.2em 2.6em;
  font-size: 1.0em;
  color: #71c1f3;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
.logo {
  width: 180px;
}
.left_bar{
  padding-left: 10%;
}
.right_bar{
  padding-right: 10%;
}
.nav__btn{
  display: inline-block;
  padding: 1.0em 2.0em;
  font-size: 1.0em;
  color: #71c1f3;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
}
}
/* 中間表示時 */
@media (max-width:640px) {
  .inner {
    margin: 0 auto;
    height: 70px;
  }
  .logo {
    width: 150px;
  }
  .left_bar{
    padding-left: 7%;
  }
  .right_bar{
    padding-right: 7%;
  }
  .nav__btn{
    padding: 1.0em 1.8em;
    font-size: 0.8em;
    border: 1px #87CEFA solid;
  }
}


/* スマホ表示時 */
@media (max-width: 480px) {

.left_bar{
  display: flex;
  justify-content: flex-start;
  padding-left: 30px ;
}
.logo {
  width: 120px;
  margin: 10px 40px 0 0;
}
.right_bar{
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.nav__btn{
  display: inline-block;
  padding: 1em 2em;
  font-size: 0.8em;
  color: #71c1f3;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}
.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}
}