.category_menu{
  margin-left: 370px;
  list-style-type: none;
  width: 120px;
  height: 40px;
  padding: 0;
  background: #d1f0f7;
  border-radius: 3px;
}
.category_menu li{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.category_menu li a{
  display: block;
  margin: 0;
  padding: 13px 0;
  color: #71c1f3;
  font-size: 1.0em;
  line-height: 1;
  text-decoration: none;
}
.category_menu li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.category_menu li:last-child ul{
  width: 100%
}
.category_menu li ul li{
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #71c1f3;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
.category_menu li ul li a{
  padding: 13px 15px;
  background: #d1f0f7;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
.category_menu li:hover > a{
  background: #ffbbd8;
  color: #fff;
}
.category_menu li:hover ul li{
  overflow: visible;
  height: 38px;
  border-bottom: 1px solid #fff;
}
.category_menu li:hover ul li:first-child{
  border-top: 0;
}
.category_menu li:hover ul li:last-child{
  border-bottom: 0;
}

   /* タブレット表示時 */
 @media (max-width: 1024px) {
  .category_menu{
    margin-left: 120px;
    list-style-type: none;
    width: 115px;
    height: 40px;
    padding: 0;
    background: #d1f0f7;
    border-radius: 3px;
  }
  .category_menu li a{
    font-size: 14px;
  }
  .category_menu li ul li a{
    font-size: 12px;
  }
  .category_menu li:hover ul li{
    height: 34px;
  }
 }

 /* スマホ表示時 */
 @media (max-width: 599px) {
  .category_menu{
    margin-left: 20px;
    list-style-type: none;
    width: 100px;
    height: 35px;
    padding: 0;
    background: #d1f0f7;
    border-radius: 3px;
  }
  .category_menu li a{
    font-size: 11px;
  }
  .category_menu li ul li a{
    font-size: 10px;
  }
  .category_menu li:hover ul li{
    height: 33px;
  }
}