/*ここから下right部分*/

.page_right {
  width: calc(100vw - 300px);
  display: flex;
  padding-right:10px;
  height: 100vh;
}
.sabu_right{
background-color: white;
  width: 95%;
  margin: 90px 0 ;
  border-radius: 15px;
  overflow: scroll; 
}

.in_right{
padding: 20px;
}

.refrige_right{
padding-bottom: 10px;
}

.refrige_right a {
  font-size: 20px;
  font-weight: bold;
  color: #6acfe6;
  text-decoration: none;
  }
.refrige_right a:hover {
  text-decoration: underline;
}


table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;

}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  padding: 10px 10px;
}
table th{
  color: rgb(231, 95, 95);
}

.food_name{
  width: 15%;
  font-size: 15px;
}
.product_name{
  width: 30%;
  font-size: 15px;
}
.category{
  width: 12%;
  font-size: 15px;
}
.purchase_date{
  width: 12%;
  font-size: 15px;
}
.sell_by{
  width: 12%;
  font-size: 15px;
}
.shop{
  width: 30%;
  font-size: 15px;

}