/*ここから下header部分*/

.menu__btn{
  display: inline-block;
  padding: 1.2em 2.6em;
  font-size: 1.0em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin:0 10px;
}
.menu__btn:hover{
  color: #fff;
  background: #87CEFA;
}
/*ここから上header部分*/

/*ここから下right部分*/

.page_right {
  width: calc(100vw - 320px);
  display: flex;
  padding-right:10px;
  height: 100vh;
  margin-top: 30px;
}
.in_index{
  width: 40%;
 display: block;
}
.refrige_right{
padding-bottom: 10px;
}
.refrige_right a {
  font-size: 25px;
  position: relative;
  text-decoration: none;
  color: #b8e9f8;
  margin: 0 20px;
  }
.refrige_right a:hover {
  text-decoration: underline;
}

/* 表部分 */
.sabu_index_food{
  background-color: white;
  width: calc(100vw - 450px);
  margin: 10px 0 30px 0;
  padding: 20px;
  border-radius: 15px;
  overflow: scroll;
  height: calc(100vh - 100px);
}
.index_scroll{
  padding: 20px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
table tr:hover{
  background-color: #d4f0fd;
}
table th,table td{
  padding: 15px 6px;
  border-bottom: solid 1px #eee;
}
table th{
  color: rgb(218, 79, 79);
}

.food_name{
  width: 15%;
  font-size: 14px;
}
.product_name{
  width: 20%;
  font-size: 14px
}
.category_id{
  width: 14%;
  font-size: 14px;
}
.purchase_date{
  width: 11%;
  font-size: 14px;
}
.sell_by{
  width: 11%;
  font-size: 14px;
}
.shop{
  width: 20%;
  font-size: 14px;
}
tr[data-check="true"] {
  text-decoration: line-through;
  color: #6acfe6;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {

  .page_right {
    width: calc(100vw - 250px);
    display: flex;
    padding-right:10px;
    height: 100vh;
    margin-top: 30px;
  }
  .in_index{
   display: block;
  }
  .refrige_right{
  padding-bottom: 10px;
  }
  .refrige_right a {
    font-size: 25px;
    position: relative;
    text-decoration: none;
    color: #b8e9f8;
    margin: 0 20px;
    }
  .refrige_right a:hover {
    text-decoration: underline;
  }
  
  /* 表部分 */
  .sabu_index_food{
    background-color: white;
    width: calc(100vw - 280px);
    margin: 10px 0 30px 0;
    padding: 20px;
    border-radius: 15px;
    overflow: scroll;
    height: calc(100vh - 50px);
  }
  .index_scroll{
    padding: 10px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  table tr:hover{
    background-color: #d4f0fd;
  }
  
  table th{
    color: rgb(218, 79, 79);
    font-size: 12px;
  }
  table th,table td{
    padding: 10px 3px;
    border-bottom: solid 1px #eee;
  }
  
  .food_name{
    font-size: 11px;
  }
  .product_name{
    font-size: 11px;
  }
  .category_id{
    width: 13%;
    font-size: 11px;
  }
  .purchase_date{
    font-size: 11px;
  }
  .sell_by{
    font-size: 11px;
  }
  .shop{
    font-size: 11px;
  }
  tr[data-check="true"] {
    text-decoration: line-through;
    color: #6acfe6;
  }
 }

  /* スマホ表示時 */
@media (max-width: 599px) {
  .menu__btn{
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.8em;
    color: #87CEFA;
    text-decoration: none;
    user-select: none;
    border: 1px #87CEFA solid;
    border-radius: 3px;
    transition: 0.4s ease;
    margin:0 10px;
  }
  .page_right {
    width: calc(100vw - 320px);
    display: flex;
    padding-left:30px;
    height: 100vh;
  }
  .in_index{
   display: block;
  }
  .refrige_right{
    width: calc(100vw - 320px);
  padding-bottom: 5px;
  }
  .refrige_right a {
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: #b8e9f8;
    }
  .refrige_right a:hover {
    text-decoration: underline;
  }


/* 表部分 */
.sabu_index_food{
  background-color: white;
  /* margin: 10px 0 30px 0;
  padding: 20px; */
  border-radius: 15px;
  overflow: scroll;
  height: 610px;
  width: 540px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 15px;
}
.index_scroll{
  padding: 3px;
}
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}
table tr:hover{
  background-color: #d4f0fd;
}

table th{
  color: rgb(218, 79, 79);
  font-size: 8px;
}
table th,table td{
  padding: 8px 5px;
  border-bottom: solid 1px #eee;
}

.food_name{
  width: 10%;
  font-size: 8px;
}
.product_name{
  width: 20%;
  font-size: 8px;
}
.category_id{
  width: 15%;
  font-size: 8px;
}
.purchase_date{
  width: 10%;
  font-size: 8px;
}
.sell_by{
  width: 10%;
  font-size: 8px;
}
.shop{
  width: 30%;
  font-size: 8px;
  overflow: scroll;
}
}

