
<%# <%= ここから画面right %> 
  <div class="page_right">
    <div class="sabu_right">
     <%# <%= ここから食材一覧 %> 
       <div class="foods">
         <div class="food">
          <div class="food_name">
           ヨーグルト
          </div>
          <div class="product_name">
           明治ブルガリアヨーグルト
          </div>
          <div class="category">
           乳製品
          </div>
          <div class="purchase_date">
           3月24日
          </div>
          <div class="sell_by">
           4月10日
          </div>
          <div class="shop">
           イオン江南店
          </div>
         </div>
       </div>

       <div class="foods">
         <div class="food">
          <div class="food_name">
           にんじん
          </div>
          <div class="product_name">
           所農園のにんじん
          </div>
          <div class="category">
           野菜
          </div>
          <div class="purchase_date">
           3月24日
          </div>
          <div class="sell_by">
           。。。。。
          </div>
          <div class="shop">
           イオン江南店
          </div>
         </div>
       </div>
     <%# <%= ここまで食材一覧 %> 
    </div>
  </div>
</div>
<%# <%= ここまで画面right %> 