
<%# CSS・・・assets/stylesheets/refiges/index.css.erb %>
<%= render "shared/header"%>

<%#= メインページ %>
<div class='main'>
  <div class='sabu-box'>
    <div class="main-box">
      <h1 class="main-title">
      あなたの生活を　もっとスマートに
      </h1>
      <p class="subtitle-title">
      お家の冷蔵庫　管理してみませんか？
      </p>
      <p class="mini-title">
      お出かけ先や　仕事帰り
      </p>
      <p class="text1">冷蔵庫の中身がすぐわかる！</p>
      <p class="text1">買い物リストがすぐ作れる！</p>
      <p class="text1">賞味期限もチェックできるから食品ロスも防げちゃう！</p>
      <p class="text1">家族で冷蔵庫をシェアすれば　お使いを頼んだり　夕飯のリクエストもできるんです。</p>
      <h2 class="end-title">
      ママにも　家族にも　優しいアプリです</p>
      </h2>
    </div>
    <%= link_to "my reico", new_refrige_path, class: :reico__btn %>
  </div>
</div>
<%#= ここから上メインページ %>

