/* user.css.erb */

.newreico-title{
  font-size: 1.1em;
  color: rgb(160, 218, 238);
  margin-bottom: 20px;
}
.field{
  font-size: 1em;
  color: rgb(250, 237, 237);
}
.user-group select{
  width: 500px;
  margin-bottom: 20px;
  padding: 22px 188px 22px 10px;
  font-size: 93%;
  line-height: 1.1em;
  border: none;
  height: 150px;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
.newreico-title{
  margin-left: 10%;
  width: 100%;
}
.input-default {
  width: 80%;
  padding: 10px;
  border: 1px solid white;
  display: block;
}
.user-group select{
  margin-bottom: 20px;
  padding: 22px 188px 22px 10px;
  font-size: 93%;
  line-height: 1.1em;
  border: none;
  height: 150px;
}
}

 /* スマホ表示時 */
 @media (max-width: 599px) {
.user-group select{
  width: 80%;
  margin-bottom: 0px;
  padding: 22px 188px 22px 10px;
  font-size: 93%;
  line-height: 1.1em;
  border: none;
  height: 150px;
  margin-left: 10%;
}
}
