.login-flash-message {
  color: rgb(243, 226, 235);
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
}
/* タブレット表示時 */
@media (max-width: 1024px) {
  .login-flash-message {
    font-size: 1.7vw;
  }
}
  /* スマホ表示時 */
  @media (max-width: 599px) {
    .login-flash-message {
      font-size: 2.5vw;
    }
  }